Repository Yuanpei-Intelligence/YPPF, pull requests merged in 2022-08, with the labels that each got.

#589 Longterm appointment review
  Appointment/__init__.py
  Appointment/admin.py
  Appointment/models.py
  Appointment/urls.py
  Appointment/utils/scheduler_func.py
  Appointment/utils/utils.py
  Appointment/utils/web_func.py
  Appointment/views.py
  app/utils.py
  templates/Appointment/admin-index.html
  templates/Appointment/booking.html
  templates/Appointment/checkout.html
  templates/org_left_navbar.html
Labels: hard

#591 整理地下室部分函数
  Appointment/__init__.py
  Appointment/admin.py
  Appointment/models.py
  Appointment/utils/scheduler_func.py
  Appointment/utils/utils.py
  Appointment/utils/web_func.py
  Appointment/views.py
  boottest/admin_utils.py
  templates/Appointment/admin-index.html
  templates/Appointment/booking-talk.html
Labels: clean up

#599 Modify data_analysis
  Appointment/data_export.py
  app/admin.py
  app/course_utils.py
  app/data_export.py
  app/data_import.py
  app/models.py
  app/org_utils.py
  app/urls.py
  app/views.py
  data_analysis/dump_funcs.py
  data_analysis/load_funcs.py
  data_analysis/management/__init__.py
  data_analysis/management/commands/dump.py
  data_analysis/management/commands/export.py
  data_analysis/management/commands/load.py
Labels: removal, clean up, model changed

#606 Add academic models
  app/models.py
Labels: model changed

#615 使用自定义用户模型
  Appointment/apps.py
  Appointment/models.py
  Appointment/utils/identity.py
  Appointment/utils/utils.py
  app/API.py
  app/activity_utils.py
  app/apps.py
  app/comment_utils.py
  app/course_utils.py
  app/models.py
  app/org_utils.py
  app/test/test_search_academic.py
  app/utils.py
  app/views_dependency.py
  boottest/settings.py
  boottest/test/test_db.py
  data_analysis/load_funcs.py
  env/docker-compose.yml
  generic/__init__.py
  generic/admin.py
  generic/apps.py
  generic/models.py
  generic/readme.md
  generic/tests.py
  generic/views.py
  yp_library/apps.py
  yp_library/models.py
  yp_library/utils.py
Labels: model changed, important

#616 迁移信用分等至用户模型
  Appointment/admin.py
  Appointment/models.py
  Appointment/utils/identity.py
  Appointment/utils/utils.py
  app/constants.py
  generic/admin.py
  generic/apps.py
  generic/models.py
  yp_library/utils.py
Labels: model changed

#625 用户模型添加名称、缩写，激活用户类型
  app/org_utils.py
  app/test/test_db.py
  app/test/test_search_academic.py
  app/utils.py
  app/views.py
  boottest/test/test_db.py
  generic/admin.py
  generic/models.py
Labels: model changed

#628 Remove old YQPoint
  Appointment/utils/web_func.py
  app/YQPoint_utils.py
  app/YQPoint_views.py
  app/activity_utils.py
  app/activity_views.py
  app/admin.py
  app/comment_utils.py
  app/course_utils.py
  app/forms.py
  app/models.py
  app/notification_utils.py
  app/org_utils.py
  app/reimbursement_utils.py
  app/reimbursement_views.py
  app/scheduler_func.py
  app/urls.py
  app/utils.py
  app/views.py
  data_analysis/load_funcs.py
  data_analysis/management/__init__.py
  templates/YQP_distribution.html
  templates/YQP_distributions.html
  templates/activity_add.html
  templates/activity_info.html
  templates/modify_reimbursement.html
  templates/org_left_navbar.html
  templates/orginfo.html
  templates/reimbursement_show.html
  templates/transaction_page.html
  templates/welcome_page.html
  templates/yp_library/welcome.html
Labels: removal, important

#633 移除临时预约flag，使用记录数据
  Appointment/admin.py
  Appointment/models.py
  Appointment/utils/scheduler_func.py
  Appointment/utils/web_func.py
  Appointment/views.py
Labels: clean up, model changed

#634 YQPoint Prize
  app/log.py
  app/models.py
  app/utils.py
  generic/models.py
Labels: model changed

#648 奖品模型更改、注册后台
  app/admin.py
  app/course_utils.py
  app/models.py
  boottest/admin_utils.py
  generic/admin.py
  generic/models.py
Labels: enhancement, model changed

#652 同义替换一些表意不清的变量
  app/activity_utils.py
  app/activity_views.py
  app/course_utils.py
  app/course_views.py
  app/feedback_utils.py
  app/feedback_views.py
  app/notification_utils.py
  app/org_utils.py
  app/org_views.py
  app/scheduler_func.py
  app/utils.py
  app/views.py
  templates/activity_add.html
  templates/course_info.html
  templates/new_YQP_distribution.html
  templates/organization_subscribe.html
  templates/orginfo.html
  templates/search.html
  yp_library/utils.py
Labels: clean up
